@charset "utf-8";
@import url("menu.css");
@import url("carrusel.css");
@import url("carrusel.css");
@import url("ULTIMAS\ NOTICIAS.CSS");
@import url("CONTENIDO.CSS");



*{ 
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../Imagenes/fondo.jpg);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

header {
    width: 1143px;
    height: 70px;
    background-color:rgba(156, 9, 9, 0.973);
}

#contenedor {
    width: 1144px;
    height: auto;
    margin: auto;
    background-color: #ffffff;
}

#titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    font-size: 44px;
    padding: 10px 150px 5px 150px;
    text-align: center;
}

