@charset "utf-8";

#menuss {
    width: 1150px;
    height: 70px;
    background-color: #ffffff;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu li {
    border-right: 2px solid rgb(0, 0, 0);
    display: inline-block;
}

.menu li a:hover {
    background-color: rgb(119, 114, 114);
}
.menu li a {
    display: block;
    padding: 25px 103px;
    color: #000000;
    text-decoration: none;
}